.app {
  background-color: white;
  min-height: 100vh;
  padding-bottom: 30px;
  text-align: center;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px;
}

.product-item {
  background-color: white;
  border: 2px solid rgba(248, 6, 6, 0.11);
  border-radius: 10px;
  padding: 15px;
  width: 160px;
}

.product-name {
  color: rgb(236, 7, 7);
  margin: 0;
}

.product-price {
  color: rgb(14, 28, 223);
  font-weight: bold;
}

.employee-section {
  background-color: white;
  border: 2px solid rgb(238, 149, 149);
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
  width: 300px;
}

.employee-name {
  font-weight: bold;
}

.employee-role {
  color: black;
}

